@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,500&display=swap');

.btnprincipal {
    background-color: white;
    color: #553600;
    border-radius: 0.40rem;
    border: 1px solid;
    padding: 0.5rem 1rem;
    transition: ease-out 200ms;
}

.btnprincipal:hover {
    transition: ease-in-out 200ms;
    background-color: #553600;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,500&display=swap');

.principal  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

.body {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
}

.container {
    position: absolute;
    left: 48%;
    top: 45%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {


    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url('/bg.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;

}

.logo {
    color: #fffdfc;
    font-size: 25px;
    font-weight: 800;
}

.headerContent {

    text-align: center;
}

.headerContent h1 {
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.headerContent p {
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btnt1 {
    display: inline-block;
    padding: 13px 35px;
    background-color: #ce967b;
    color: #f9fafc;
    text-transform: uppercase;
}

.btnt1:hover {
    background-color: #ebadbd;
}

.coffee {
    padding: 100px 0;
    background-color: #e1e2e6;
    position: relative;

}

.coffeeContent {
    text-align: center;
}

.coffeeContent h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;

}

.txtP {
    font-size: 16;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.coffeeGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.coffee1 img {
    padding: 0 25pxpx;

}

.coffee1 img {
    width: 200px;

}

.coffeeImg {
    position: absolute;
    top: 0;
    right: 0;
}

.coffee1 h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.searchButton {

    font-family: 'Poppins', sans-serif;
    background-color: red;
}

.services {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url('/bg2.jpg');
    background-repeat: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.servicesContent {
    text-align: center;

}

.servicesContent h2 {
    font-size: 55px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.servicesContent p {
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.servicesGroup {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.services1 {
    padding: 0 100px;
}

.services1 img {
    width: 25px;
    margin-bottom: 15px;
}

.services1 h3 {
    color: #eaccb3;
    font-size: 18px;

}

.general {

    display: flex;

}

.general1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;

}

.general2 {
    background-image: url('/coffe-1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general3 {
    background-image: url('/coffee-2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.h2 {
    font-size: 55px;
    line-height: 70;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

.blog {
    padding: 100px0;
    text-align: center;
}

.blogContent {
    display: flex;
    justify-content: space-around;
}

.blog1 {
    padding: 15px 55px;
}

.blog1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog1 h3 {
    font-size: 25px;
    color: #323337
}


.Productos {
    text-align: center;
    background-color: #414247;
    padding: 100px0;
    display: flex;
    justify-content: space-around;

}

/* styles.module.css */

.navbar {
    background-color: transparent !important;
    /* Hace que el fondo sea transparente */
    border: none;
    /* Elimina el borde */
    transition: background-color 0.5s;
    /* Agrega una transición suave para el cambio de fondo */
}

.navbar-brand,
.navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    /* Cambia el color del texto a blanco */
}

/* Estilos adicionales para resaltar el enlace activo, si es necesario */
.navbar-nav .nav-item.active .nav-link {
    color: #000000;
    /* Cambia el color del texto del enlace activo */
}

/* Puedes ajustar y agregar más estilos según tus necesidades */

.contenedorTyC {
    width: 50%;
    margin: 0 auto;
}

.contenedorSolicitudes {
    width: 80%;
    margin: 0 auto;
}

/*Cards*/
.containertarjeta {
    width: 100%;
    height: 600px;
	display: flex;
	max-width: 1100px;
	margin: auto;
}

.titletarjeta {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #7a7a7a;
}

.tarjeta {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
}

.tarjeta:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.tarjeta img {
    width: 100%;
    height: 210px;
}

.tarjeta .contenidotarjeta {
    padding: 15px;
    text-align: center;
}

.tarjeta .contenidotarjeta h3 {
    margin-bottom: 15px;
    color: #7a7a7a;
}

.tarjeta .contenidotarjeta p {
    line-height: 1.8;
    color: #6a6a6a;
    font-size: 14px;
    margin-bottom: 5px;
}

.tarjeta .contenidotarjeta a {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
}

.tarjeta .contenidotarjeta a:hover {
    background: #2fb4cc;
    color: #fff;
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .containertarjeta {
        flex-wrap: wrap;
    }

    .tarjeta {
        margin: 15px;
    }
}

/*Fin-Cards*/

@media (max-width:991px) {

    .header {
        min-height: 0vh;
    }

    .headerContent {
        padding: 100px 30px;
    }

    .headerContent P {
        padding: 0;
    }

    .coffee {
        padding: 30px;
    }

    .coffeeContent h2 {
        padding: 0;
    }

    .txtP {
        padding: 0;
    }

    .coffeeGroup {
        flex-direction: column;
        margin-bottom: 0;
    }

    .coffeeImg {
        display: none;
    }

    .services {
        padding: 30px;
    }

    .servicesContent P {
        padding: 0;
    }

    .servicesGroup {
        flex-direction: column;
        margin-bottom: 0;
    }

    .services1 {
        margin-bottom: 25;

    }

    .general {
        flex-direction: column;
    }

    .general1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general2 .general3 {
        display: none;
    }

    .blog {
        padding: 30px;
    }

    .blogContent {
        flex-direction: column;
    }

    .blog1 {
        padding: 0;
    }
}

/*Estilos para tabla de carrito*/

.carritoTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.carritoTable th,
.carritoTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.carritoTable th {
    background-color: #f2f2f2;
}

.carritoTable tfoot td {
    font-weight: bold;
}

.carritoTable th button,
.carritoTable td button {
    padding: 5px 10px;
    /* Ajusta el espacio interior del botón según sea necesario */
    font-size: 14px;
    /* Ajusta el tamaño del texto del botón según sea necesario */
}

.totalLabel {
    text-align: right;
    padding-right: 8px;
}

@media (max-width: 991px) {

    .carritoTable th,
    .carritoTable td {
        padding: 0px;
    }

    .carritoTable tfoot td {
        padding: 0px;
    }

    .totalLabel {
        padding-right: 0px;
    }
}
